    $light-blue: rgb(78, 200, 235);
    $med-blue: rgb(0, 156, 222);
    $dark-blue: rgb(0, 47, 108);
    $light-gray: rgb(219, 217, 214);
    $med-gray: rgb(179, 178, 179);
    $dark-gray: rgb(100, 101, 105);
    $red: rgb(238, 39, 55);
    $indigo: rgb(75, 0, 130);
    $green: rgb(67, 176, 42);
    $orange: rgb(255, 103, 31);
    $yellow: rgb(246, 190, 0);
    $black: rgb(0, 0, 0);
    $white: rgb(255, 255, 255);
    $container-min-width: 1150px;
    $header-height: 132px;
    $border-radius: 4px;
    $icon-opacity: 0.85;
    $icon-opacity-hover: 1.0;