.has-popover {
    display: inline-block;
    position: relative;

    .info-popover {
        position: absolute;
        right: -30px;
        top: 15px;

        .info-icon {
            font-size: 1.5em;
            color: rgba($dark-blue, 0.85);
            cursor: pointer;

            &:hover {
                color: dark-blue;
            }
        }
    }
}